[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

keras = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
nltk = "*"
jupyter = "*"
jupyter-tensorboard = "*"
tensorflow = "*"
gensim = "*"
lime = "*"
"h5py" = "*"


[dev-packages]



[requires]

python_version = "3.6"
